RootsProject/bin/dexedLibs/android-support-v7-appcompat-ba45912c59140f705babeb3893ebda41.jar
RootsProject/bin/dexedLibs/android-support-v7-appcompat-ba45912c59140f705babeb3893ebda41.jar
RootsProject/bin/dexedLibs/android-support-v7-appcompat-ba45912c59140f705babeb3893ebda41.jar
RootsProject/bin/dexedLibs/android-support-v7-appcompat-ba45912c59140f705babeb3893ebda41.jar