<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rootsproject"
    android:versionCode="19"
    android:versionName="1.1a" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".mypublicvalue"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".videointro"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="level4.testvideo" >
        </activity>
        <activity
            android:name=".listselectactivity"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".list"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".studyword"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".studywordcolor"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".play"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".definition"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".words"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".root"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".score"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".wrongword"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".scoreword"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level2.idroortsl2"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level2.rootl2"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level2.wordsl2"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level2.definitionl2"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level2.scorel2"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level3.missroot"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level3.scorel3"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level4.testtime"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level4.definitionl4"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level4.idroortsl4"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level4.rootl4"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level4.wordsl4"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level4.scorel4"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level5.idroortsl5"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level5.scorel5"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level6.rootl6"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level6.scorel6"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level7.missrootl7"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level7.scorel7"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level8.definitionl8"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level8.scorel8"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="level8.wordsl8"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="review.reviwlevel"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="review.reviewscore"
            android:label=" "
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name="com.appsee.AppseeBackgroundUploader" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1533247433612831"
            android:exported="true" />

        <activity
            android:name=".tutorial"
            android:label="@string/title_activity_tutorial" >
        </activity>
    </application>

</manifest>
